body{
    font-size: 12px;
    margin: 0;
    padding: 0;
}
input{
    padding: 0;
    margin: 0;
}
ul,ol,dl{
    list-style: none;
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}
body #web{
    width: 1260px;
    margin: 0 auto;
    min-width:1200px;
    background-color: #F5F5F5;
    position: relative;
}
#nav{
    height: 32px;
    color: #999999;
    background-color: #F2F2F2;
}
#nav ul li{
    float: left;
    margin-left: 15px;
    line-height: 32px;
}
#nav ul a{
    color: #999999;
}
#nav ul a:hover{
    color: red;
}
#nav_left{
    margin-left: -10px;
}
#nav #nav_right{
    margin-left: 750px;
    height: 32px;
    width: 500px;
}
.clear{
    zoom:1;
}
.clear:after{
    content: "";
    display: block;
    clear: both;
}
#top{
    margin:0 auto;
}
#top_m{
    height: 130px;
    background-color: white;
}
#gif{
    margin-left: -38px;
}
.text_title{
    width: 491px;
    height: 36px;
    border:2px solid red;
    font-size: 16px;
    line-height: 36px;
    color: #C9CAC9;
    vertical-align:middle;
}
.button{
    width: 132px;
    height: 40px;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 5px;
    color: white;
    background-color: red;
    border-style: none;
    margin-left: -4px;
    vertical-align:middle;
}
#nav_right .main{
    position: relative;
    vertical-align: middle;
}
#nav_right .main .dif{
    color: red;
}
.main .code_img{
    width: 160px;
    height: 220px;
    margin-left: -60px;
}
#nav_right .main .shopper{
    width: 110px;
    background-color: white;
    margin-left: -50px;
}
.main .shopper dd{
    float: left;
    padding-right:4px;
}
.main .shopper dt{
    font-weight: 600;
}
.main .shopper dl{
    border-bottom: 1px gainsboro solid;
    margin-left:2px;
}
#nav_right .main .last_nav{
    width: 1260px;
    height: 180px;
    background-color: white;
    margin-left: -1100px;
    margin-top: 0;
}
.main .last_nav div{
    float: left;
}
#nav_right .main .last_nav div li{
    float: left;
    line-height: 24px;
}
#nav_right .main .last_nav div{
    margin-top: -30px;
    width: 450px;
    border: none;
    margin-left: 10px;
}
#nav_right .main .last_nav div h5{
    font-size: 18px;
    font-weight: 300;
    margin-left: 30px;
    margin-bottom: 10px;
}
#nav_right .main .last_nav .first_nav h5{
     color: orange;
}
#nav_right .main .last_nav .first_nav{
    border-right: 1px gainsboro solid;
}
#nav_right .main .last_nav div li{
    margin: 6px 0;
    width: 90px;
}
#nav_right .main .last_nav div li:hover{
    cursor: pointer;
}
#nav_right .main .last_nav .second_nav{
    width: 450px;
    margin-left: 500px;
    border-right: 1px gainsboro solid;
}
.main .last_nav .second_nav h5{
    color: blue;
}
#nav_right .main .last_nav .third_nav{
    width: 200px;
    margin-left: 1000px;
}
#nav_right .main .last_nav .third_nav li{
    line-height: 18px;
}
#nav_right .main:hover{
    background-color: white;
}
#nav_right .main:nth-of-type(2):hover{
     background-color: #F2F2F2;
}
#nav_right .main:nth-of-type(5):hover{
    background-color: #F2F2F2;
}
#nav_right .main:hover  div{
    display: block;
}
#nav_right .main div{
    display: none;
    border: 1px gainsboro solid;
    border-top: none;
    width: 80px;
    position: absolute;
    top:30px ;
    z-index: 100;
}
#nav_right .main i{
    vertical-align: middle;
    font-size: 12px;
    margin-left:-2px;
}
#nav_right .main .down{
    font-size: 18px;
    margin-left:-16px;
    float: right;
    display: none;
}
#nav_right .main:hover .down{
    display: block;
}
#nav_right .main:hover .up{
    display: none;
}
#nav_right .main div dd{
    margin-top:-6px;
    margin-left: 2px;
}
#input_all{
    margin-top: -80px;
    margin-left: 400px;
    width:650px;
}
#rotation{
    line-height: 36px;
    font-size: 16px;
}
#sort{
    width: 200px;
    height: 36px;
    color: white;
    background-color: red;
    float: left;
    font-weight: 700;
    margin-left: 6px;
}
#sort img{
    width:20px ;
    height: 20px;
    vertical-align:middle;
    margin-right: 10px;
}
#rotation #first_nav li{
    float: left;
    margin-left: 24px;
}
#rotation #first_nav li a{
    color: black;
}
#rotation #first_nav li a:hover{
    color: red;
}
#rotation #first_nav li img{
    width: 100px;
    height: 30px;
    margin-top: 3px;
    display: block;
    cursor: pointer;
}
#img_ad{
    height: 500px;
    background: url("img/Carousel4.webp") no-repeat;
    position: relative;
    border-top: 2px red solid;
}
#img_ad .inner_img{
    width: 220px;
    height: 235px;
    background-color: white;
    opacity: 0.8;
    margin-left:1000px;
    margin-top:10px;
}
#img_ad .inner_img:hover{
    cursor: pointer;
    opacity: 1;
}
#img_ad .inner_img img{
    width: 220px;
    height: 235px;
}
#back{
    position: absolute;
    width: 200px;
    background-color: rgba(0,0,0,0.6);
    margin-left: 6px;
    top: 200px;
    height:500px ;
}
#back li{
    font-weight: 500;
    color: white;
    font-size: 14px;
    line-height: 31px;
}
#back li:hover{
    cursor:pointer;
    background-color:white;
    opacity:1;
    color:blue;
}
#back li i{
    margin: 0 4px 0 14px;
    color: grey;
}
#back .menu{
    display: none;
    position: absolute;
    top:0;
    left: 200px;
    width: 750px;
    height: 500px;
    background-color:#FAFAFA ;
    font-size: 14px;
    z-index: 99999;
}
/*#back .menu .menu_text{
    border: 1px red solid;
    width: 400px;
}*/
#back .menu .menu_text ul li{
    float: left;
    font-size: 14px;
    color: black;
    padding-left: 10px;
}
.menu .menu_text .line_title{
    width: 65px;
    color: #333;
    margin-left: 18px;
    margin-top: 4px;
    position: relative;
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    height: 22px;
    float: left;
}
.menu .menu_text .line_con{
    width: 490px;
    margin-left: 100px;
    border-bottom: 1px solid gainsboro;
}
.menu_text .title_text{
    font-weight: bold;
    display: inline-block;
}
.menu .menu_text i{
    font-size: 14px;
    display: block;
    position: absolute;
    top: 0;
    right: -15px;
    font-weight: 200;
}
#back .menu .menu_text .line_con ul:hover li{
    background-color:#F5F5F5;
}
.menu #img_all {
    width: 170px;
    height: 380px;
    margin-left: 590px;
    /*margin-top: -800px;*/
    /*border: 1px red solid;*/
}
.menu #img_all img{
    width: 76px;
    height: 38px;
    vertical-align: middle;
    float: left;
    border: 1px gainsboro solid;
}
#back li:hover .menu{
    display: block;
}
#nav_inner{
    height: 18px;
    width: 1260px;
    margin-top: -50px;
    z-index: 1000;
    position: relative;
}
#nav_inner li{
    list-style: none;
    float: left;
    width: 25px;
    height: 5px;
    background-color: #999999;
    margin-top: 6px;
    margin-left: 10px;
    opacity: 0.7;
}
#nav_inner .selected{
    background-color: white;
}
#nav_inner li:nth-of-type(1){
    margin-left: 500px;
}
#img_t{
    width:1260px ;
}
#tmall{
     width: 1260px;
     height: 140px;
     text-align: center;
     margin-top:60px ;
}
#img_t img{
     width: 238px;
     height: 269px;
     margin-left: 10px;
     margin-top: -70px;
}
#sale {
     font-size: 18px;
     font-weight: bold;
}
#sale .activity{
     height: 370px;
}
#sale .activity:nth-of-type(1){
    margin-left: 12px;
    width: 234px;
}
#sale .activity:nth-of-type(2){
    margin-left: 12px;
    width: 485px;
 }
#sale .activity:nth-of-type(3){
    width: 485px;
    margin-right: 0;
}
#sale .activity div{
    height: 55px;
    line-height: 55px;
    padding-left: 10px;
    margin-bottom: 2px;
}
#sale img{
     height: 316px;
     width: 485px;
}
#sale .activity .first{
    width: 234px;
    height: 316px;
}
#sale #ad_t, #ad_th{
    margin-left: 264px;
    margin-top: -370px;
}
#sale #ad_th{
    margin-left: 766px;
}
#enter {
    margin-top:20px ;
    margin-right: 10px;
    height: 327px;
    background-color: white;
    position: relative;
}
#enter li{
    display: inline-block;
    width: 121px;
    height: 108px;
    border-bottom:1px #C9CAC9 solid;
    border-right:1px #C9CAC9 solid;
    text-align: center;
    line-height: 108px;
    position: relative;
}
#enter div:hover{
    cursor: pointer;
}
#enter li img{
    width: 100px;
    height: 50px;
    vertical-align: middle;
}
#enter .discount{
    opacity: 0;
    position: absolute;
    top:0;
    left: 10px;
    color: white;
    height: 90px;
    width: 102px;
}
#enter .icon_enter{
    opacity: 0;
    position: absolute;
    top:70px;
    left: 26px;
    color: #fff;
    width: 63px;
    height: 18px;
    font-size: 12px;
    line-height: 15px;
    background-color: #FF0036;
    border-radius: 9px;
}
#enter li:hover .inner{
    background-color: black;

}
#enter li:hover  .icon_enter{
    opacity: 1;
    background-color:red;
}
#enter li:hover .discount{
    opacity: 1;
    background-color:black;
}
#enter .inner:hover img{
    background: black;
    z-index: -11;
    position: relative;
}

#enter .no_bottom{
    border-bottom: none;
}
#enter .no_right{
    border-right: none;
}
#enter .update{
    width: 125px;
    height: 108px;
    position: absolute;
    bottom: 2px;
    right: 7px;
}
#enter .update:hover{
    background-color: red;
    color: white;
}
#enter .update i{
    display: block;
    font-size: 36px;
    margin-left: 40px;
    margin-top: 30px;
}
#enter .update .block{
    margin-bottom: -20px;
    margin-left: 40px;
    display: block;
}
.mart{
    width:214px;
    height:25px;
    margin: 20px 0 10px 0;
}
.mart_left .left_title{
    position: absolute;
    width: 218px;
    height: 64px;
    left: 0;
    top:420px;
    background-color:rgba(0,0,0,0.7);
    color: white;
    font-size: 18px;
}
.mart_left .left_title div{
    margin-left: 10px;
    margin-top:6px ;
    height: 48px;
    float: left;
}
.mart_left .left_title .fis{
    width: 36px;
}
.mart_left .left_title .sec{
    width: 75px;
    margin-left: 30px;
}
.tmall_all .mart_left{
    position: relative;
    width:235px;
    height: 618px;
    float: left;
}
.tmall_all .mart_left img{
    width:235px;
    height: 618px;
}
.tmall_all .mart_left:hover{
    opacity: 0.6;
    cursor: pointer;
}
.tmall_all .mart_left .right,#tmall_hk .world .right{
    position: absolute;
    bottom: 15px;
    right: 15px;
    width: 32px;
    height: 32px;
}
.tmall_all .mart_ad{
    width: 236px;
    height: 300px;
    float: left;
    margin-left: 13px;
    margin-bottom: 14px;
    background-color: white;
    border:1px solid transparent;
}
.tmall_all .mart_ad img{
    width: 185px;
    height: 185px;
    margin-top:20px;
    margin-left: 25px;
}
.tmall_all .mart_ad:hover{
    cursor: pointer;
    opacity: 0.6;
    border: 1px solid red;
}
.tmall_all .mart_ad .title{
    width: 135px;
    height: 40px;
    font-size: 14px;
    color: #333;
    line-height: 20px;
    overflow: hidden;
    text-align: center;
    margin-left: 55px;
    margin-top: 8px;
}
.tmall_all .mart_ad .price{
    font-size: 18px;
    color: #FF0036;
    line-height: 18px;
    margin-left: 88px;
    margin-top: 8px;
}
#all:hover .mart_ad{
     border: none;
}
.tmall_all #all{
    width: 484px;
    height: 300px;
    background-color: white;
}
#all .all_in {
    width: 462px;
    height: 282px;
    margin-left: 10px;
    margin-top: 5px;
    box-shadow:0 5px 10px #F5F5F5;
}
.all_in li{
    float: left;
    width: 231px;
    height:57px ;
    line-height: 57px;
    font-size: 18px;
    color: black;
    background-color: #F5F5F5;
    text-align: center;
}
.all_in .green{
    background-color: #00B262;
}
#all .mart_inner img{
    float: right;
    margin-top: 10px;
    margin-right: 20px;
    width: 180px;
    height: 180px;
}
#all .inner_block{
    position: relative;
    width: 291px;
    height: 87px;
    margin-top: 100px;
    background-repeat: no-repeat;
    background-color: rgba(0,0,0,0);
    background-image: url(img_enter/inner_block.png) ;
    z-index: 99;
}
#all .inner_block img{
    width: 23px;
    height: 23px;
}
#all .inner_block span{
    margin-left: 8px;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #00B262;
}
#all .inner_block div{
    margin-left: 26px;
    margin-top: 4px;
    font-size: 20px;
    letter-spacing: 1px;
}
.tmall_all #all:hover{
    border:1px solid transparent;
}
#tmall_hk .world img{
    width: 235px;
    height: 301px;
    margin: 0;
}
#tmall_hk .world{
    margin-left: 0;
    position: relative;
}
#tmall_hk .world:hover{
    border:1px solid transparent;
}
.world .left_title{
    width: 216px;
    height: 64px;
    background-color: rgba(1,1,1,0.4);
    position: absolute;
    left: 0;
    top:170px;
    color: white;
}
.world .left_title div{
    float: left;
    line-height: 24px;
    font-size: 18px;
    height: 64px;
    text-align: center;
    margin-left: 10px;
    margin-top:6px ;
}
.world .left_title .fis{
    width: 50px;
}
.world .left_title .sec{
    width:100px ;
}
#web .sort{
    width: 1238px;
    height: 80px;
    margin-bottom: 10px;
}
#web .img_end{
    width: 80px;
    height: 45px;
    margin-top:10px;
    margin-left: 600px;
}
#bottom{
    width: 1260px;
    background-color: white;
    margin-top: 10px;
    border-top: 1px solid gainsboro;
}
#bottom .bottom_one{
    width: 1190px;
    height: 100px;
    margin: 25px auto;
}
#bottom .bottom_one .sign{
    float: left;
    width:297px ;
    height: 100px;
}
.bottom_one .sign i{
    color: red;
    font-size: 50px;
    margin-left: 40px;
    line-height: 90px;
}
.bottom_one .sign div{
    margin-left:100px;
    margin-top: -65px;
}
.bottom_one .sign div span{
    display: block;
}
.bottom_one .sign div span:nth-of-type(1){
    font-size: 18px;
    color: black;
    font-weight:500;
}
.bottom_one .sign div span:nth-of-type(2){
    font-size: 16px;
    color:#AAAAAA;
}
.bottom_two .list{
    width: 1190px;
    height: 213px;
    margin:0 auto;
    border-top: 1px solid gainsboro;
}
.bottom_two .list dl{
    float: left;
    width: 186px;
    margin-top: 20px;
    margin-left: 50px;
}
.bottom_two .list dl dt{
    color: #646464;
    font-size: 16px;
    font-weight: 700;
    height: 30px;
    line-height: 30px;
}
.bottom_two .list dl dd{
    width: 100px;
    overflow: hidden;
    height: 20px;
    line-height: 20px;
    color: #8b8b8b;
    margin-left: 0;
}
.bottom_two .list img{
    width: 105px;
    height: 105px;
    margin-left: -4px;
}
.bottom_two img{
    margin-left:88px;
    vertical-align: middle;
}
.bottom_end{
    background-color: black;
    border-top: 2px red solid;
    color: white;
}
.bottom_end .text{
    width: 1200px;
    height: 222px;
    margin-left: 30px;
}
.bottom_end .text p{
    line-height: 20px;
}
.bottom_end .text .text_end,.text_end a{
    color: #AAAAAA;
}
.bottom_end .text .text_end .spe{
    color:#8b8b8b;
}
.bottom_end .text .text_end .span_left{
    margin-left:60px;
}
.text .text_end{
    line-height: 20px;
 }
 .text .text_end .img_in{
    width: 30px;
    height:30px;
}
.text .text_end img{
    margin: 10px;
}
.text .text_end .police{
    margin: 2px;
    vertical-align: middle;
}
#hidden_title{
    display: none;
    width: 1260px;
    height: 50px;
    background-color: #F50336;
    position: absolute;
    top:0;
    position: fixed;
}
#hidden_title div{
    float: left;
}
#hidden_title .hidden_title_left i{
    font-size: 24px;
    color: white;
    line-height: 50px;
    vertical-align: middle;
}
#hidden_title  .hidden_title_right{
    width: 700px;
    height: 30px;
    margin-top:10px;
    margin-left: 200px;
}
.hidden_title_right .text_title{
    width: 630px;
    height: 30px;
    font-size: 14px;
}
.hidden_title_right .button{
    width: 90px;
    height: 32px;
    background-color: #FF0036;
    margin-left: 630px;
    margin-top: -50px;
}